*{
    box-sizing: border-box;
    margin: 0;
    font-family: "arial",sans-serif;
    
}

.wrapper{
    width: 70%;
    margin:0 auto;
}
.textarea{
    display: flex;
    justify-content: center;
      align-items: center;
     flex-direction: column;
     background-color: red;
        
}
.text{
    width: 80%;
}
